@import '../../styles/variables';
@import '../../styles/mixin';

.wrapper {
    margin-top: 18.9rem;
    text-align: center;
    margin-bottom: 18.8rem;
    .container {
        padding: 0 15rem;
        @include respond(tab-port) {
            padding: 0 5rem;        
        }
    }

    .titleSection {
        .subTitle {
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 3.8rem;
            color: $colorBlue4;
        }
        .title {
            font-weight: 600;
            font-size: 7.5rem;
            line-height: 11.2rem;
            color: $colorWhite;
        }
    }

    .listCreators {
        margin-top: 5.9rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include respond(small-phone) {
            flex-direction: column;
            align-items: center;
        }
        .listCreatorsItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include respond(small-phone) {
                margin-top: 6rem;
            }
            .imageCreator {
                width: 11.2rem;
                height: 11.2rem;
                @include respond(phone) {
                    width: 16.2rem;
                    height: 16.2rem;      
                }
                @include respond(small-phone) {
                    width: 16.2rem;
                    height: 16.2rem;      
                }
            }
            .title {
                font-weight: 700;
                font-size: 3.5rem;
                line-height: 5.2rem;
                color: $colorWhite;
                margin-top: 1.7rem;
                @include respond(small-phone) {
                    font-size: 5.5rem;
                    margin-top: 2rem;
                }
            }
            .subTitle {
                font-weight: 400;
                font-size: 1.9rem;
                line-height: 2.8rem;
                color: $colorGreyLight3;
                @include respond(small-phone) {
                    font-size: 2.9rem;
                    margin-top: 3rem;
                }
            }
            .link {
                display: flex;
                align-items: center;
                margin-top: 2.1rem;

                span {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 3rem;
                    color: $colorWhite;
                    margin-right: 0.76rem;
                    @include respond(small-phone) {
                        font-size: 3rem;
                        margin-top: 1rem;

                    }
                }
                .linkIcon {
                }
            }
        }
    }
}
