@import '../../styles/variables';
@import '../../styles/mixin';

.wrapper {
    .container {
    }

    .sectionTitle {
        text-align: center;
        margin-top: 5rem;
        h1 {
            font-weight: 600;
            font-size: 12rem;
            line-height: 12rem;
            color: $colorWhite;
            margin: 0;
            @include respond(phone) {
                font-size: 10.5rem;
            }
            @include respond(small-phone) {
                font-size: 6.5rem;
            }
        }
        p {
            font-weight: 400;
            font-size: 3rem;
            line-height: 4.5rem;
            color: $colorWhite;
        }
    }

    .socialList {
        margin-top: 12rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.3rem;
        @include respond(tab-port) {
            grid-gap: 1.3rem;
        }
        @include respond(phone) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3.3rem;
        }
        @include respond(small-phone) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 3.3rem;
        }

        .socialItem {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 0.1rem solid $colorGrey;
            padding: 1.7rem 2.9rem;
            border-radius: 1rem;
            @include respond(phone) {
                align-items: center;
                text-align: center;
                padding: 2.7rem 2.9rem;
            }
            .socialItemIcon {
                transform: scale(0.75) translateX(-20%);
                @include respond(phone) {
                    transform: scale(0.9) translateX(0%);
                }
            }
            .socialItemTitle {
                font-weight: 600;
                font-size: 3rem;
                line-height: 4.5rem;
                color: $colorWhite;
                margin-top: 1rem;
                @include respond(small-phone) {
                    font-size: 4rem;
                    margin-top: 2rem;

                }
            }
            .socialItemSubTitle {
                font-weight: 400;
                font-size: 2.1rem;
                line-height: 3.4rem;
                color: $colorGreyLight2;
                @include respond(small-phone) {
                    font-size: 3.1rem;
                    margin-top: 1rem;
                    line-height: 5.4rem;
                }
            }
            .comingSoon {
                position: absolute;
                top: 1.7rem;
                right: 2.9rem;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $colorBlue5;
                background-color: $colorBlue6;
                border-radius: 1rem;
                padding: 0.8rem 1.8rem;
            }
        }
    }
}
