@import '../../styles/variables';
@import '../../styles/mixin';

.wrapper {
    min-height: 100vh;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        min-height: calc(100vh - $headerHeight);
    }

    .titlePage {
        font-weight: 600;
        font-size: 7.5rem;
        line-height: 0.2rem;
        color: $colorWhite;
    }
    .subTitle {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: $colorWhite;
    }

    .form {
        margin-top: 7.5rem;
        width: 100%;
        
        .inputWrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 14.4rem;
            grid-row-gap: 5.4rem;
            max-width: 112.2rem;
            margin: 0 auto;
            @include respond(tab-port) {
                grid-template-columns: repeat(1, 1fr);
            }
            .label {
                position: relative;
                // margin-left: 14.4rem;
                // &:first-child {
                //   margin-left: 0;
                // }
                .labelName {
                    position: absolute;
                    font-weight: 400;
                    font-size: 2.3rem;
                    line-height: 3.4rem;
                    color: $colorWhite;
                    left: 0;
                    transition: transform 0.4s ease-in-out;
                    @include respond(phone) {
                        font-size: 3.3rem;
                    }
                }
                .labelInput {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba($colorWhite, 0.35);
                    mix-blend-mode: normal;
                    padding: 1.5rem 0;
                    width: 48.7rem;

                    font-weight: 400;
                    font-size: 2.3rem;
                    color: $colorWhite;

                    &:focus {
                        outline: none;
                    }
                    @include respond(tab-port) {
                        width: 100%;
                    }
                    @include respond(phone) {
                        width: 100%;
                        padding: 2.5rem 0;
                    }
                }
                .labelInput:focus ~ .labelName {
                    transform: translateY(-100%);
                }
                .labelInput:valid ~ .labelName {
                    transform: translateY(-100%);
                }
                .labelIcon {
                    position: absolute;
                    right: 1rem;
                    top: 0;
                    transform: scale(0.75);
                }
            }
            .btnLogin {
                font-weight: 400;
                font-size: 2.6rem;
                line-height: 3.9rem;
                color: $colorWhite;

                width: 48.8rem;
                // margin: 5.6rem auto 0;
                padding: 2.3rem 0;
                background-color: $colorBlue1;
                border-radius: 1.2rem;
                @include respond(tab-port) {
                    width: 100%;
                }
                @include respond(phone) {
                    width: 100%;
                    font-size: 3.6rem;
                    padding: 3.3rem 0;
                }
            }
        }

        .titleOr {
            margin-top: 3.2rem;
            font-weight: 600;
            font-size: 5.4rem;
            line-height: 8.1rem;
            color: $colorWhite;
        }

        .subTitleOr {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 3.6rem;
            color: $colorWhite;
        }

        .socialVariants {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 7.6rem;
            margin-top: 4rem;

            @include respond(tab-port) {
                grid-column-gap: 1.6rem;
            }
            .socialVariantsItem {
                .socialVariantsBtn {
                    border: 2px solid $colorWhite;
                    padding: 1.6rem;
                    border-radius: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    
                    .socialVariantsIcon {
                        transform: scale(0.75);
                        @include respond(tab-port) {
                            transform: scale(1);
                        }
                        @include respond(small-phone) {
                            transform: scale(0.8);
                        }
                    }
                    .nameBtn {
                        font-weight: 400;
                        font-size: 2.1rem;
                        line-height: 3.2rem;
                        color: $colorWhite;
                        margin-left: 2rem;
                        @include respond(tab-port) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .dontHaveAccount {
        display: inline-block;
        margin-top: 4rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $colorWhite;

        @include respond(phone) {
            font-size: 2.6rem;
        }
    }
}
