@import '../../styles/variables';
@import '../../styles/mixin';

.wrapper {
    margin-top: 1.6rem;
    margin-bottom: 16.9rem;
    .container {
    }
    .title {
        text-align: center;
        font-weight: 600;
        font-size: 7.5rem;
        line-height: 11.2rem;
        color: $colorWhite;
    }
    .planList {
        margin-top: 12.3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 7.6rem;
        @include respond(tab-land) {
            grid-column-gap: 1.6rem;               
        }
        @include respond(tab-port) {
            grid-gap: 1.2rem;       
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond(small-phone) {
            grid-gap: 2.2rem;              
            grid-template-columns: repeat(1, 1fr);
        }
        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $colorBlack4;
            border-radius: 2rem;
            border: 0.1rem solid $colorGrey;
            padding: 3.8rem 3.5rem;
            transition: background-color 0.4s ease-in-out;
            cursor: pointer;
            &:first-child {
                .price {
                    .priceInner {
                        .preMonth {
                            visibility: hidden;
                        }
                    }
                }
                .descriptionWrapper {
                    margin-top: 10.8rem;
                }
            }
            .cardTitle {
                font-weight: 600;
                font-size: 5rem;
                line-height: 7.5rem;
                color: $colorWhite;
            }
            .cardSubTitle {
                font-weight: 400;
                font-size: 2.8rem;
                line-height: 4.2rem;
                color: $colorGreyLight4;
                transition: color 0.4s ease-in-out;
            }

            .price {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 1.4rem;
                .priceInner {
                    display: flex;
                    align-items: flex-end;
                    .price {
                        font-weight: 700;
                        font-size: 6.9rem;
                        line-height: 6.4rem;
                        color: $colorWhite;
                    }
                    .preMonth {
                        font-weight: 400;
                        font-size: 2.6rem;
                        line-height: 3.9rem;
                        color: $colorGreyLight4;
                        transition: color 0.4s ease-in-out;
                        margin-left: 0.4rem;
                    }
                }
                .or {
                    font-weight: 400;
                    font-size: 2.8rem;
                    line-height: 4.2rem;
                    text-decoration-line: underline;
                    color: $colorGreyLight4;
                    transition: color 0.4s ease-in-out;
                }
            }

            .descriptionWrapper {
                margin-top: 6.8rem;
                display: flex;
                flex-direction: column;
                .description {
                    font-weight: 700;
                    font-size: 2.7rem;
                    line-height: 4rem;
                    color: $colorWhite;
                }
                .subDescription {
                    font-weight: 400;
                    font-size: 2.8rem;
                    line-height: 4.2rem;
                    color: $colorWhite;
                }
            }

            .benefits {
                display: inline-block;
                width: 100%;
                text-align: center;
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 3.6rem;
                color: $colorGreyLight4;
                margin-top: 4.5rem;
                transition: color 0.4s ease-in-out;
            }

            .keyFeatures {
                display: flex;
                flex-direction: column;
                margin-top: 5.3rem;
                margin-bottom: 4rem;
                h4 {
                    font-weight: 600;
                    font-size: 2.8rem;
                    line-height: 4.2rem;
                    color: $colorWhite;
                }
                .keyFeaturesList {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2.8rem;
                    .keyFeaturesItem {
                        display: flex;
                        align-items: center;
                        margin-top: 2rem;
                        &:first-child {
                            margin-top: 0;
                        }
                        .checkIcon {
                            // width: 2.438rem;
                            // height: 1.791rem;
                        }
                        .keyFeaturesItemText {
                            font-weight: 400;
                            font-size: 2.2rem;
                            line-height: 3.6rem;
                            color: $colorWhite;
                            margin-left: 1.05rem;
                        }
                    }
                }
            }

            .btn {
                border: 0.35rem solid $colorBlue4;
                padding: 3.25rem 0;
                width: 100%;
                border-radius: 2.2rem;

                font-weight: 500;
                font-size: 2.7rem;
                line-height: 4rem;
                color: $colorWhite;

                margin-top: auto;
                transition-property: color, border-color, background-color;
                transition-duration: 0.4s;
                transition-timing-function: ease-in-out;
            }

            &:hover {
                background-color: $colorBlue2;
                .cardSubTitle,
                .benefits,
                .price .preMonth,
                .or {
                    color: $colorWhite;
                }
                .btn {
                    color: $colorBlue2;
                    background-color: $colorWhite;
                    border-color: $colorWhite;
                }
            }
        }
    }
}
