@import '../../styles/variables';
@import '../../styles/mixin';

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-port) {
        height: 70vh;
    }
    @include respond(small-phone) {
        height: 55vh;
    }
    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
        text-align: center;
        font-weight: 600;
        font-size: 7rem;
        line-height: 10.5rem;
        color: $colorWhite;
        @include respond(tab-port) {
            font-size: 5rem;
            line-height: 6.5rem;
        }
        @include respond(small-phone) {
            font-size: 3.5rem;
            line-height: 5.5rem;
        }
    }
    .wrapperHelpersIcons {
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: inset 0px 0px 215px 73px rgba($colorBlack1, 1);
        -moz-box-shadow: inset 0px 0px 215px 73px rgba($colorBlack1, 1);
        box-shadow: inset 0px 0px 215px 73px rgba($colorBlack1, 1);
        .listIcons {
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            width: max-content;
            margin-bottom: 2rem;
            mix-blend-mode: normal;
            opacity: 0.45;
            z-index: -1;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            .icon {
                width: 11rem;
                height: 11rem;
                margin-left: 2rem;
                @include respond(small-phone) {
                    width: 9rem;
                    height: 9rem;
                }
            }
        }
    }
}
