$colorWhite: #ffffff;
$colorBlack1: #000000;
$colorBlack2: #0e0e0e;
$colorBlack3: #0d0d0d;
$colorBlack4: #131313;
$colorBlue1: #326cf9;
$colorBlue2: #3c82f4;
$colorBlue3: #3d82f2;
$colorBlue4: #306ef7;
$colorBlue5: #4a7de3;
$colorBlue6: #102142;
$colorGrey: #707070;
$colorGreyLight: #919191;
$colorGreyLight2: #828282;
$colorGreyLight3: #7f7f7f;
$colorGreyLight4: #b4b1b1;
$colorGreyDark: #2d2d2d;
$colorGreen: #0fc65c;

$gradient: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
$colorBackground: #000000;

$headerHeight: 12vh;
$firstScreen: calc(100vh - $headerHeight);
